<!DOCTYPE html>
<html>
<head>
	<title>Star Wars</title>
	<link href="/main.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<div class="hero-image">
	  <div class="hero-text">
	    <h1>STAR WARS FILMS</h1>
	  </div>
	</div>
	<div class="list-area">
		<% include content/films.ejs %>
	</div><!-- End list-area -->
</body>
</html>
