body {
  margin: 0;
  font-family: 'BenchNine', sans-serif;
}

.hero-image {
  background-image: url("star-wars-header.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vw;
}

.list-area {
  padding: 20px;
}

.films-component {
  max-width: 1200px;
  margin: auto;
}

.sort {
  display: block;
  text-align: right;
  margin: 10px;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-grid .col {
  flex: 1 0 20%;
  padding: 10px;
  text-align: center;
  min-width: 280px;
  max-width: 280px;
  margin: auto;
  margin-top: 10px;
}

.flex-grid .col img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.pagination {
  display: block;
  text-align: center;
  margin: 10px;
}

@media (max-width: 667px) {
  body {
    font-size: 150%;
  }

  .hero-text {
    font-size: 6vw;
  }
  
  .sort {
    text-align: center;
  }
}
