body {
  margin: 0;
  font-family: 'BenchNine', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.grey {
  color: grey;
}

.hero-image {
  background-image: url("star-wars-header.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vw;
}

.list-area {
  padding: 0 20px;
}

.films-component {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.sort {
  display: block;
  text-align: right;
  margin: 10px;
}

.sort span {
  padding-right: 15px;
}

.sort-btn {
  display: inline-block;
  position: relative;
  padding: 4px 15px 0 15px;
}

.sort-btn:hover {
  color: black;
}

.sort-btn i {
  position: absolute;
  left: 0;
}

.sort-btn i.fa-caret-up {
  top: 1px;
}

.sort-btn i.fa-caret-down {
  bottom: 1px;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-grid .col {
  flex: 1;
  padding: 10px;
  text-align: center;
  min-width: 280px;
  max-width: 280px;
  margin: auto;
  margin-top: 10px;
}

.poster {
  position: relative;
  height: 420px;
}

.poster img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  object-fit: cover;
  max-height: 420px;
  /* This stretches the image to full poster height */
  height: 420px;
}

.pagination {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: center;
  margin: 20px 0;
}

.page-btn {
  align-self: flex-end;
  position: relative;
  min-width: 120px;
}

.page-btn:hover {
  opacity: 0.8;
}

.page-btn a {
  display:block;
  min-width: 100px;
  color: white;
  background-color: black;
  padding: 8px 10px;
}

.page-btn i {
  position: absolute;
}

.page-btn i.fa-caret-left {
  left: 10px;
  font-size: 21px
}

.page-btn i.fa-caret-right {
  right: 10px;
  font-size: 21px
}

.page-num {
  font-size: 50px;
  line-height: 42px;
}

@media (max-width: 667px) {
  body {
    font-size: 150%;
  }

  .hero-text {
    font-size: 6vw;
  }

  .list-area {
    padding: 0;
  }

  .sort {
    text-align: center;
  }

  .flex-grid {
    display: block;
  }

  .page-btn i {
    display: none;
  }

  .page-num {
    line-height: 50px;
  }
}
